<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.VIBRATE" />
 <application>
  <service android:name=".FloatingAssistant" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true" android:label="Veya floating assistant">
   <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
   <meta-data android:name="android.accessibilityservice" android:resource="@xml/assistant_service" />
  </service>
 </application>
 <queries><intent><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent></queries>
</manifest>
